QWidget{
	background-color: #6e06ff;
	font-family: Rubik;
	font-size: 7.5px;
	font-weight: 600;
}
QLabel {color: #4cabff } QPushButton {color: #4cabff} QListWidget{color: #4cabff}
QSlider{
	padding: 6px;
}
QPushButton{
	background: transparent;
	border: none;
	background-color: #6e06ff;
}
QPushButton:pressed {
	background-color: #3b86b8;
}
QSlider::handle:horizontal {
    background-color: #7baeff;
    border: 1px solid #5c5c5c;
    width: 13px;
    margin: -2px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}

QSlider::groove:horizontal {
    height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background-color: #b987ff;
    margin: 2px 0;
}

/*#4cabff
#6e06ff
#6e06ff
#7baeff
#b987ff*/
QLabel {color: #66ff00 } QPushButton {color: #66ff00} QListWidget{color: #66ff00} QStatusBar{color: #66ff00} QMenuBar{background-color: #66ff00}QWidget {background-color: #e3ffd7}